.custom-card {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
  
.custom-title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

.card-content {
    padding: 15px;
    font-size: 16px;
}

.card-content div {
    margin-bottom: 12px;
}

.card-text {
    font-weight: normal;
    color: #333;
}

strong {
    color: #007bff;
}